body{
  margin: 2em;
}

.todo-list {
  display: flex;
  list-style-type: none;
  flex-flow: row wrap;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.todo-item {
  width: 250px;
  height: 150px;
  box-shadow: 10px 0 40px 6px rgb(213, 213, 213);
  border-radius: 6px;
  text-align: center;
}

.urgent{
  box-shadow: 10px 0 70px 6px rgb(172, 50, 50);
}