body{
  margin: 2em;
}

.todo-list {
  display: flex;
  list-style-type: none;
  flex-flow: row wrap;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.todo-item {
  width: 250px;
  height: 150px;
  box-shadow: 0 6px 20px -10px rgb(77, 77, 77);
  border-radius: 6px;
  text-align: center;
}

.urgent{
  box-shadow: 0 6px 20px -10px rgb(193, 16, 16);
}

.todo-form {
  width: 300px;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
}

.todo-form input{
  margin: 5px;
}

.delete {
  background-color: rgb(194, 33, 33);
  color: white;
  border-radius: 6px;
}

.edit {
  background-color: rgb(33, 97, 194);
  color: white;
  border-radius: 6px;
}